<!DOCTYPE html>
<head>

	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This theme uses pages only, not posts. You need to make sure your pages have the appropriate frontmatter. One frontmatter tag your users might find helpful i...">
<meta name="keywords" content="Getting startedFormattingContent types,  pages, authoring, exclusion, frontmatter">
<title>Pages | thirty bees documents</title>
<link rel="stylesheet" type="text/css" href="/css/syntax.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/base-theme.css">
<link rel="stylesheet" type="text/css" href="/css/modern-business.css">
<link rel="stylesheet" type="text/css" href="/css/customstyles.css">
<link rel="stylesheet" type="text/css" href="/css/algolia.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="/css/modern-business.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="/js/jquery.navgoco.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="/js/toc.js"></script>
<script src="/js/customscripts.js"></script>
<link rel="shortcut icon" href="/common_images/favicon.ico" type="image/x-icon">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript">
    $(document).ready(function () {
        var body = document.body,
            html = document.documentElement;

        var height = Math.max(body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight) + 200;

        if (typeof window.top !== 'undefined') {
            window.top.postMessage({
                    inlineHelpHeight: height
                },
                '*'
            );
        }
    });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-89925901-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-89925901-1');
</script>





	<script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
	</script>

	

</head>

<body class="page-template-default page page-id-1 fusion-body no-tablet-sticky-header no-mobile-sticky-header no-mobile-slidingbar no-mobile-totop mobile-logo-pos-center layout-wide-mode fusion-top-header menu-text-align-center mobile-menu-design-modern fusion-image-hovers fusion-show-pagination-text customize-support do-animate">

<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container topnavlinks">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="https://docs.thirtybees.com">
				<img src="https://docs.thirtybees.com/common_images/thirty-bees-dark.png" alt="thirty bees documents" style="margin-top: -16px; height: 50px; float: left;"><span class="brand-extra" style="float: left;margin-left: -8px; color: #000;font-size: 14px;line-height:26px">/admins</span>
			</a>

		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<!-- entries without drop-downs appear here -->
				<!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
				




				
				
				
				
				<li><a href="https://thirtybees.com/" target="_blank">Website</a></li>
				
				
				
				
				
				<li><a href="https://github.com/thirtybees/ThirtyBees" target="_blank">Github Repo</a></li>
				
				
				
				
				
				<li><a href="/supporters/">Supporters</a></li>
				
				
				
				


				<!-- entries with drop-downs appear here -->
				<!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->

				<li class="dropdown">
					


				<!-- special insertion -->

				
				<!-- Send feedback function -->
<script>
  function SendLinkByMail(href) {
    var subject = "thirty bees documents feedback";
    var body = "I have some feedback about the Pages page: ";
    body += window.location.href;
    body += "";
    var uri = "mailto:contact@thirtybees.com?subject=";
    uri += encodeURIComponent(subject);
    uri += "&body=";
    uri += encodeURIComponent(body);
    window.location.href = uri;
  }
</script>

<li><a href="mailto:contact@thirtybees.com"><i class="fa fa-envelope-o"></i> Feedback</a></li>



				<li id="search-box">
					<div class="form-group" style="margin-bottom: -6px">
						<input id="algolia-search" type="text" class="form-control col-lg-4" placeholder="Search" style="margin: 8px; float: left">
					</div>
				</li>

				<li id="algolia-box">
					<a href="https://algolia.com" target="_blank" class="col-lg-2" id="algolia-svg-link" style="background: transparent; float:left; cursor: pointer">
						<img id="algolia-svg" src="https://docs.thirtybees.com/common_images/algolia.png">
					</a>
				</li>
				<script>
                  var client = algoliasearch("PIVL0Y1GI8", "8e047928cc6047d49bbb083d194c552d");
                  var index = client.initIndex('thirtybees_docs');
                  autocomplete('#algolia-search',
                    { hint: false }, {
                      source: autocomplete.sources.hits(index, { hitsPerPage: 5 }),
                      debug: true,
                      //value to be displayed in input control after user's suggestion selection
                      displayKey: function (suggestion) {
                        return suggestion.title || suggestion.h1 || suggestion.h2 || suggestion.h3 || suggestion.h4 || suggestion.h5 || suggestion.h6 || suggestion.unordered;
                      },
                      //hash of templates used when rendering dataset
                      templates: {
                        //'suggestion' templating function used to render a single suggestion
                        suggestion: function (suggestion) {
                          return '<span>' + suggestion.title || suggestion.h1 || suggestion.h2 || suggestion.h3 || suggestion.h4 || suggestion.h5 || suggestion.h6 || suggestion.unordered + '</span>';
                        }
                      }
                    }).on('autocomplete:selected', function (event, suggestion, dataset) {
                    if (suggestion.title) {
                      window.location.href = suggestion.permalink;
                    }

                    window.location.href = suggestion.url;
                  });
				</script>
			</ul>
		</div>
	</div>
</nav>



<!-- Page Content -->
<div class="container">
	<div class="col-lg-12">&nbsp;</div>


	<!-- Content Row -->
<div class="row">
    <!-- Sidebar Column -->
    <div class="col-md-3">
        <script>
            $(document).ready(function() {
                // Initialize navgoco with default options
                $("#mysidebar").navgoco({
                    caretHtml: '',
                    accordion: true,
                    openClass: 'active', // open
                    save: false, // leave false or nav highlighting doesn't work right
                    cookie: {
                        name: 'navgoco',
                        expires: false,
                        path: '/'
                    },
                    slide: {
                        duration: 400,
                        easing: 'swing'
                    }
                });

                $("#collapseAll").click(function(e) {
                    e.preventDefault();
                    $("#mysidebar").navgoco('toggle', false);
                });

                $("#expandAll").click(function(e) {
                    e.preventDefault();
                    $("#mysidebar").navgoco('toggle', true);
                });

            });
        </script>
        



        <ul id="mysidebar" class="nav">
         <!--   <span class="siteTagline">Developer<br />Guide</span> -->
            <span class="versionTagline">Version 1.0.X</span>
            
            
            
                
            
            <li><a href="#">Overview</a>
                <ul>
                    
                    
                    
                    <li><a href="/">Introduction</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">Installation</a>
                <ul>
                    
                    
                    
                    <li><a href="/installation/">General Requirements</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/installation/ftp-installation/">FTP Installation</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/installation/command-line/">Command Line Installation</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/installation/migration/">Shopping Cart Migrations</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">Troubleshooting</a>
                <ul>
                    
                    
                    
                    <li><a href="/troubleshooting/decoding-error-messages/">Decoding Error Messages</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">Merchants Guide</a>
                <ul>
                    
                    
                    
                    <li><a href="/merchants-guide/">Getting started</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/merchants-guide/online-resources/">Online Resources</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/merchants-guide/admin-area/">Back Office</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/merchants-guide/admin-products/">Admin Product Page</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">Native Modules</a>
                <ul>
                    
                    
                    
                    <li><a href="/native-modules/advanced-eu-compliance/">Advanced EU Compliance</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/apcu-manager/">APCu Cache Manger</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/bees-blog/">Bees Blog</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/custompayments/">Custom Payment Methods</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/dash-activity/">Dash Activity</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/dash-goals/">Dash Goals</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/donation-miner/">Donation Miner</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/elastic-search/">Elasticsearch</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/eu-cookie-consent/">EU Cookie Consent</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/google-analytics/">Google Analytics</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/json-module/">JSON + LD Module</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/mailchimp/">MailChimp</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/memcache-manager/">Memcache Manager</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/nocaptcharecaptcha/">No CAPTCHA reCAPTCHA</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/opcache-manager/">Opcache Manager</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/paypal/">PayPal</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/piwik/">Piwik</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/stripe/">Stripe</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/tawkto/">tawk.to</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/native-modules/tb-updater/">thirty bees updater</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">SEO Guide</a>
                <ul>
                    
                </ul>
                
                
            
            <li><a href="#">Developers Guide</a>
                <ul>
                    
                    
                    
                    <li><a href="/developers/classes/">Classes API</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/developers/controllers/">Controllers API</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">Designers Guide</a>
                <ul>
                    
                </ul>
                
                
            
            <li><a href="#">Module Makers Guide</a>
                <ul>
                    
                </ul>
                
                
            
            <li><a href="#">System Administration Guide</a>
                <ul>
                    
                </ul>
                
                
            
            <li><a href="#">Store</a>
                <ul>
                    
                    
                    
                    <li><a href="/store/free-modules/">List Free Modules</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/store/paid-modules/">List Paid Modules</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">Contribute</a>
                <ul>
                    
                    
                    
                    <li><a href="/contributing/">Contributing</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/first-pull-request/">Making Your First Pull Request</a></li>
                    

                    

                    
                    
                    
                    
                    <li><a href="/bug-reporting/">Bug Reporting</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">Release notes</a>
                <ul>
                    
                    
                    
                    <li><a href="/release_notes/v1-0-x-release-notes">Version 1.0.x</a></li>
                    

                    

                    
                    
                </ul>
                
                
            
            <li><a href="#">Reporting Bugs</a>
                <ul>
                    
                </ul>
                
                
                


                <!-- if you aren't using the accordion, uncomment this block:

                     <p class="external">
                         <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
                     </p>
                 -->
                <br />
                <p class="external">
                    <a href="https://www.patreon.com/thirtybees" target="_blank" class="no-padding"><img src="/common_images/patreon-banner.png" /></a>
                </p>
    </div>
    <!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
    <script>$("li.active").parents('li').toggleClass("active");</script>


	<!-- Content Column -->
	<div class="col-md-9">
		<!--<div class="search">

	<input type="text" placeholder="search...">
</div>
<div class="results">
	<ul id="users"></ul>
</div>

<script src="http://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

<script>
  $(document).ready(function () {
    var client = algoliasearch('PIVL0Y1GI8', '');
    var index = client.initIndex('thirtybees_docs');
    var $input = $('input');
    $input.keyup(function () {
      index.search($input.val(), {
        hitsPerPage: 10,
        facets: '*'
      }, searchCallback);
    }).focus();
  });

  function searchCallback(err, content) {
    console.log(content);
    if (err) {
      console.error(err);
      return;
    }

    var $users = $('#users');
    $users.empty();

    for (var i = 0; i < content.hits.length; i++) {
      $users.append('<li> <a href="' + content.hits[i].url + '">' + content.hits[i].title + '</a></li>');
    }
  };
</script>
-->
		<div class="post-header">
    <h1 class="post-title-main">Pages</h1>
</div>

<div class="post-content">

    
    <div class="summary">This theme uses pages only, not posts. You need to make sure your pages have the appropriate frontmatter. One frontmatter tag your users might find helpful is the summary tag. This functions similar in purpose to the shortdesc element in DITA.</div>
    
    
<!-- this handles the automatic toc. use ## for subheads to auto-generate the on-page minitoc. if you use html tags, you must supply an ID for the heading element in order for it to appear in the minitoc. -->
<script>
$( document ).ready(function() {
  // Handler for .ready() called.

$('#toc').toc({ minimumHeaders: 0, listType: 'ul', showSpeed: 0, headers: 'h2,h3,h4' });

/* this offset helps account for the space taken up by the floating toolbar. */
$('#toc').on('click', 'a', function() {
  var target = $(this.getAttribute('href'))
    , scroll_target = target.offset().top

  $(window).scrollTop(scroll_target - 10);
  return false
})
  
});
</script>


<div id="toc"></div>


    
    <a target="_blank" href="https://github.com/thirtybees/devdocs/blob/master/thirtybees/authoring/pages.md" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>
    

    <h2 id="where-to-author-content">Where to author content</h2>

<p>Use a text editor such as Sublime Text, WebStorm, IntelliJ, or Atom to create pages. </p>

<p>My preference is IntelliJ/WebStorm, since it will treat all files in your project as belonging to a project. This allows you to easily search for instances of keywords, do find-and-replace operations, or do other actions that apply across the whole project.</p>

<h2 id="page-names-and-excluding-files-from-outputs">Page names and excluding files from outputs</h2>

<p>By default, everything in your project is included in the output. This is problematic when you&#39;re single sourcing and need to exclude some files from an output. </p>

<p>Here&#39;s the approach I&#39;ve taken. Put all files in your root directory, but put the project name first and then any special conditions. For example, thirtybees_writers_intro.md. </p>

<p>In your configuration file, you can exclude all files that don&#39;t belong to that project by using wildcards such as the following:</p>

<p>exclude: </p>

<ul>
<li>thirtybees_*</li>
<li>thirtybees_writers_*</li>
</ul>

<p>These wildcards will exclude every match after the <code>*</code>.</p>

<h2 id="frontmatter">Frontmatter</h2>

<p>Make sure each page has frontmatter at the top like this:</p>
<div class="highlight"><pre><code class="language-yaml" data-lang="yaml"><span></span><span class="nn">---</span>
<span class="l l-Scalar l-Scalar-Plain">title</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">Your page title</span>
<span class="l l-Scalar l-Scalar-Plain">tags</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span><span class="nv">formatting</span><span class="p p-Indicator">,</span> <span class="nv">getting_started</span><span class="p p-Indicator">]</span>
<span class="l l-Scalar l-Scalar-Plain">keywords</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">overview, going live, high-level</span>
<span class="l l-Scalar l-Scalar-Plain">last_updated</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">November 30, 2015</span>
<span class="l l-Scalar l-Scalar-Plain">summary</span><span class="p p-Indicator">:</span> <span class="s">&quot;Deploying</span><span class="nv"> </span><span class="s">DeviceInsight</span><span class="nv"> </span><span class="s">requires</span><span class="nv"> </span><span class="s">the</span><span class="nv"> </span><span class="s">following</span><span class="nv"> </span><span class="s">steps.&quot;</span>
<span class="nn">---</span>
</code></pre></div>
<p>Frontmatter is always formatted with three hyphens at the top and bottom. Your frontmatter must have a <code>title</code> value. All the other values are optional.</p>

<p>The following table describes each of the frontmatter that you can use with this theme:</p>

<table><thead>
<tr>
<th>Frontmatter</th>
<th>Required?</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td><strong>title</strong></td>
<td>Required</td>
<td>The title for the page</td>
</tr>
<tr>
<td><strong>tags</strong></td>
<td>Optional</td>
<td>Tags for the page. Make all tags single words, with hyphens if needed. Separate them with commas. Enclose the whole list within brackets. Also, note that tags must be added to _data/tags_doc.yml to be allowed entrance into the page.</td>
</tr>
<tr>
<td><strong>keywords</strong></td>
<td>Optional</td>
<td>Synonyms and other keywords for the page. This information gets stuffed into the page&#39;s metadata to increase SEO. The user won&#39;t see the keywords, but if you search for one of the keywords, it will be picked up by the search engine.</td>
</tr>
<tr>
<td><strong>last_updated</strong></td>
<td>Optional</td>
<td>The date the page was last updated. This information could helpful for readers trying to evaluate how current and authoritative information is. If included, the last_updated date appears in the footer of the page.</td>
</tr>
<tr>
<td><strong>summary</strong></td>
<td>Optional</td>
<td>A 1-2 word sentence summarizing the content on the page. This gets formatted into the summary section in the page layout. Adding summaries is a key way to make your content more scannable by users (check out <a href="http://www.nngroup.com/articles/corporate-blogs-front-page-structure/">Jakob Nielsen&#39;s site</a> for a great example of page summaries.)</td>
</tr>
<tr>
<td><strong>datatable</strong></td>
<td>Optional</td>
<td>Boolean. If you add <code>true</code>, then scripts for the <a href="https://www.datatables.net/">jQuery datatables plugin</a> get included on the page.</td>
</tr>
<tr>
<td><strong>video</strong></td>
<td>Optional</td>
<td>If you add <code>true</code>, then scripts for <a href="http://www.videojs.com/">Video JS: The HTML5 video player</a> get included on the page.</td>
</tr>
</tbody></table>

<div class="alert alert-success" role="alert"><i class="fa fa-check-square-o"></i> <b>Tip: </b> You can see the scripts that conditionally appear by looking in the _layouts/default.html page. Note that these scripts are served via a CDN, so the user must be online for the scripts to work. However, if the user isn't online, the tables and video still appear. In other words, they degrade gracefully. </div>

<h2 id="what-about-permalinks">What about permalinks?</h2>

<p>What about permalinks? This theme isn&#39;t build using permalinks because it makes linking and directory structures problematic. Permalinks generate an index file inside a folder for each file in the output. This makes it so links (to other pages as well as to resources such as styles and scripts) need to include <code>../</code> depending upon where the other assets are located. But for any pages outside folders, such as the index.html page, you wouldn&#39;t use the <code>../</code> structure.</p>

<p>Basically, permalinks complicate the linking structure significantly, so they aren&#39;t used here. As a result, page URLs have an .html extension. If you include <code>permalink: something</code> in your frontmatter, your link to the page will break (actually, you could still go to sample instead of sample.html, but none of the styles or scripts will be correctly referenced).</p>

<h2 id="colons-in-page-titles">Colons in page titles</h2>

<p>If you want to use a colon in your page title, you must enclose the title&#39;s value in quotation marks.</p>

<h2 id="saving-pages-as-drafts">Saving pages as drafts</h2>

<p>If you add <code>published: false</code> in the frontmatter, your page won&#39;t be published. You can also move draft pages into the _drafts folder to exclude them from the build.</p>

<div class="alert alert-success" role="alert"><i class="fa fa-check-square-o"></i> <b>Tip: </b> You can create file templates in WebStorm that have all your common frontmatter, such as all possible tags, prepopulated. See  for details. </div>

<h2 id="markdown-or-html-format">Markdown or HTML format</h2>

<p>Pages can be either Markdown or HTML format (specified through either an .md or .html file extension).</p>

<p>If you use Markdown, you can also include HTML formatting where needed. But not vice versa &mdash; if you use HTML (as your file extension), you can&#39;t insert Markdown content.</p>

<p>Also, if you use HTML inside a Markdown file, you cannot use Markdown inside of HTML. But you can use HTML inside of Markdown.</p>

<p>For your Markdown files, note that a space or two indent will set text off as code or blocks, so avoid spacing indents unless intentional.</p>

<h2 id="where-to-save-pages">Where to save pages</h2>

<p>Store all your pages inside the root directory. This is because the site is built with relative links. There aren&#39;t any permalinks or baseurls used in the link architecture. This relative link nature of the site allows you to easily move it from one folder to another without invalidating the links.</p>

<p>If this approach creates too many files in one long list, consider grouping files into Favorites sections using WebStorms Add to Favorites feature.</p>

<h2 id="github-flavored-markdown">Github-flavored Markdown</h2>

<p>You can use standard Multimarkdown syntax for tables. You can also use fenced code blocks. The configuration file shows the Markdown processor and extensiosn:</p>
<div class="highlight"><pre><code class="language-text" data-lang="text"><span></span>markdown: redcarpet

redcarpet:
  extensions: [&quot;no_intra_emphasis&quot;, &quot;fenced_code_blocks&quot;, &quot;tables&quot;, &quot;with_toc_data&quot;]
</code></pre></div>
<p>These extensions mean the following:</p>

<table><thead>
<tr>
<th>Redcarpet extension</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>no_intra_emphasis</td>
<td>don&#39;t italicize words with underscores</td>
</tr>
<tr>
<td>fenced_code_blocks</td>
<td>allow three backticks before and after code blocks instead of <code>&lt;pre&gt;</code> tags</td>
</tr>
<tr>
<td>tables</td>
<td>allow table syntax</td>
</tr>
<tr>
<td>with_toc_data</td>
<td>add ID tags to headings automatically</td>
</tr>
</tbody></table>

<p>You can also add &quot;autolink&quot; as an option if you want links such as http://google.com to automatically be converted into links. </p>

<div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> <b>Note: </b> Make sure you leave the <code>with_toc_data</code> option included. This auto-creates an ID for each Markdown-formatted heading, which then gets injected into the mini-TOC. Without this auto-creation of IDs, the mini-TOC won't include the heading. If you ever use HTML formatting for headings, you need to manually add an ID attribute to the heading in order for the heading to appear in the mini-TOC. </div>

<h2 id="automatic-mini-tocs">Automatic mini-TOCs</h2>

<p>By default, a mini-TOC appears at the top of your pages and posts. If you don&#39;t want this, you can remove the <code>{% include toc.html %}</code>  from the layouts/page.html file.</p>

<p>If you don&#39;t want the TOC to appear for a specific page, add <code>toc: false</code> in the frontmatter of the page.</p>

<p>The mini-TOC requires you to use the <code>##</code> syntax for headings. If you use <code>&lt;h2&gt;</code> elements, then you must add an ID attribute for the h2 element in order for it to appear in the mini-TOC.</p>

<h2 id="specify-a-particular-page-layout">Specify a particular page layout</h2>

<p>The configuration file sets the default layout for pages as the &quot;page&quot; layout.</p>

<p>You can create other layouts inside the layouts folder. If you create a new layout, you can specify that your page use your new layout by adding <code>layout: mylayout.html</code> in the page&#39;s frontmatter. Whatever layout you specify in the frontmatter of a page will override the layout default set in the configuration file.</p>

<h2 id="comments">Comments</h2>

<p>Disqus, a commenting system, is integrated into the theme. In the configuration file, specify the Disqus code for the universal code, and Disqus will appear. If you don&#39;t add a Disqus value, the Disqus code isn&#39;t included.</p>

<h2 id="posts">Posts</h2>

<p>This theme isn&#39;t coded with any kind of posts logic. For example, if you wanted to add a blog to your project that leverages posts, you couldn&#39;t do this with the theme. However, you could easily take the post logic from another site and integrate it into this theme. I&#39;ve just never had a strong need to integrate blog posts into documentation.</p>

<h2 id="custom-keyboard-shortcuts">Custom keyboard shortcuts</h2>

<p>Some of the Jekyll syntax can be slow to create. Using a utility such as <a href="https://www.trankynam.com/atext/">aText</a> can make creating content a lot of faster.</p>

<p>For example, when I type <code>jif</code>, aText replaces it with <code>{% if site.platform == &quot;x&quot; %}</code>. When I type <code>jendif</code>, aText replaces it with <code>{% endif %}</code>.</p>

<p>You get aText from the App Store on a Mac for about $5.</p>

<p>There are alternatives to aText, such as Typeitforme. But aText seems to work the best. You can read more about it on <a href="http://lifehacker.com/5843903/the-best-text-expansion-app-for-mac">Lifehacker</a>.</p>


    <div class="tags">
        
        <b>Tags: </b>
        



        
        
        <a href="/tag/getting-started/" class="btn btn-default navbar-btn cursorNorm" role="button">Getting started</a>
        
        
        
        <a href="/tag/formatting/" class="btn btn-default navbar-btn cursorNorm" role="button">Formatting</a>
        
        
        
        <a href="/tag/content-types/" class="btn btn-default navbar-btn cursorNorm" role="button">Content types</a>
        
        
        
    </div>

    

<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'thirty-bees'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



</div>



<footer>
	<div class="row">
		<div class="col-lg-12 footer">
			&copy;2019 thirty bees. All rights reserved. <br/>
			<p>Page last updated:</span> November 30, 2015<br/> Site last generated: May 5, 2019 <br/>
			<p><img src="" /></p>
                </div>
            </div>
</footer>


		</div>
	</div><!-- /.row -->
</div>    <!-- /.container -->


<div class="avada-noconflict">
	<div class="fusion-footer" id="fusion-footer">
		<footer id="footer" class="fusion-footer-copyright-area">
			<div class="fusion-row">
				<div class="fusion-copyright-content">
					<div class="fusion-copyright-notice" style="padding-bottom: 0px;">
						<div>Copyright 2019 thirty bees | all rights reserved</div>
					</div>
					<div class="fusion-social-links-footer" style="display: none;">
					</div>
				</div> <!-- fusion-fusion-copyright-content -->
			</div> <!-- fusion-row -->
		</footer>
	</div>
</div>
</body>


</html>

