{% comment %}
______               _
|  _  \             | |
| | | |_____   _____| | ___  _ __   ___ _ __ ___
| | | / _ \ \ / / _ \ |/ _ \| '_ \ / _ \ '__/ __|
| |/ /  __/\ V /  __/ | (_) | |_) |  __/ |  \__ \
|___/ \___| \_/ \___|_|\___/| .__/ \___|_|  |___/
                            | |
                            |_|
{% endcomment %}

{% if site.project == "thirtybees_developers" %}
{% assign audience = site.audience %}
{% assign sidebar = site.data.thirtybees.thirtybees_sidebar.entries %}
{% assign topnav = site.data.thirtybees.thirtybees_topnav.topnav %}
{% assign topnav_dropdowns = site.data.thirtybees.thirtybees_topnav.topnav_dropdowns %}
{% assign version = "all" %}
{% assign product = "all" %}
{% assign platform = "all" %}
{% assign projectTags = site.data.thirtybees.thirtybees_tags.allowed-tags %}
{% assign projectFolder = site.project_folder %}
{% endif %}
