<div class="row seriesContext" >
 <div class="panel panel-default">
    <div class="panel-heading"><h1>Back Office Series</h1></div>
    <div class="panel-body">
  <ul class="list-inline">
    <li>
    <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Back Office<span class="caret"></span></button>
        <ol class="dropdown-menu">
            {% assign pages = site.pages | sort:"weight"  %}
            {% for p in pages %}
            {% if p.series == "Back Office old series" %}
            {% if p.url == page.url %}
            <li class="active"> → {{p.weight}}. {{p.title}}</li>
            {% else %}
            <li>
                <a href="{{p.url}}" title="{{p.title}}" rel="help prev">{{p.weight}}. {{p.title}}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ol>
    </div>
</li>
