    <li>
      <div>
        <p>{% assign series_pages = site.tags.series_backoffice %}
    {% for p in pages %}
    {% if p.series == "Back Office old series" %}
    {% assign nextTopic = page.weight | plus: "0.1"  %}
    {% if p.weight == nextTopic  %}
    <a href="{{p.url}}" title="{{p.title}}" rel="next"><button type="button" class="btn btn-primary">Next: {{p.weight}}  {{p.title}}</button></a>
    {% endif %}
    {% endif %}
    {% endfor %}
       </p>
     </div>
   </li>
  </ul>
</div>
<div class="panel-footer"><p>Navigate the Back Office using the buttons above.</p></div>
</div>
