<!DOCTYPE html>
<head>

	{% include head.html %}

	<script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
	</script>

	{% if page.datatable == true %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
	<script>
      $(document).ready(function () {
        $('table.datatable').DataTable({
            paging: false,
            stateSave: true
          }
        );
      });
	</script>
	{% endif %}

</head>

<body class="page-template-default page page-id-1 fusion-body no-tablet-sticky-header no-mobile-sticky-header no-mobile-slidingbar no-mobile-totop mobile-logo-pos-center layout-wide-mode fusion-top-header menu-text-align-center mobile-menu-design-modern fusion-image-hovers fusion-show-pagination-text customize-support do-animate">

{% include topnav.html %}


<!-- Page Content -->
<div class="container">
	<div class="col-lg-12">&nbsp;</div>


	{% include sidebar.html %}

	<!-- Content Column -->
	<div class="col-md-9">
		<!--{% include search.html %}-->
		{{content}}
		</div>
	</div><!-- /.row -->
</div>    <!-- /.container -->


<div class="avada-noconflict">
	<div class="fusion-footer" id="fusion-footer">
		<footer id="footer" class="fusion-footer-copyright-area">
			<div class="fusion-row">
				<div class="fusion-copyright-content">
					<div class="fusion-copyright-notice" style="padding-bottom: 0px;">
						<div>Copyright 2019 thirty bees | all rights reserved</div>
					</div>
					<div class="fusion-social-links-footer" style="display: none;">
					</div>
				</div> <!-- fusion-fusion-copyright-content -->
			</div> <!-- fusion-row -->
		</footer>
	</div>
</div>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

</html>

